{% extends "base.html" %}
{% block content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <!-- left col -->
                    <div class="col-sm-12 mb-4">
                        <h1 class="m-0">Courses</h1>
                    </div>
                    <div class="col-sm-4">


                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">{% if edit %}Edit Courses{% elif not edit %} Add
                                    Course{% endif %}</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form class="form-horizontal" method="post"
                                  {% if edit %}action="{% url  "courses:update_course" %}" {% endif %}>
                                {% csrf_token %}
                                {% if edit %}
                                    <input type="hidden" name="id" value="{{ course_edit.id }}">
                                {% endif %}
                                <div class="card-body">
                                    <div class="form-group row">

                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" name="course_name"
                                                   placeholder="Course Name"{% if edit %}
                                                   value="{{ course_edit.name }}"{% endif %}>
                                        </div>
                                    </div>

                                    <div class="form-group row">

                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" name="abbreviation"
                                                   placeholder="Abbreviation" {% if edit %}
                                                   value="{{ course_edit.abbreviation }}"{% endif %}>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <input type="number" class="form-control" id="num_div" name="num_div"
                                                   placeholder="Maximum number of semester/div/year" {% if edit %}
                                                   value="{{ course_edit.max_div }}"{% endif %}>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-info">{% if edit %}Edit{% elif not edit %}
                                        Add{% endif %}</button>
                                    {% if edit %}
                                        <a href="{% url  "courses:courses" %}"
                                           class="btn btn-warning ml-2">Cancel</a>
                                    {% endif %}
                                </div>
                                <!-- /.card-footer -->
                            </form>
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                    <div class="alert alert-success" role="alert">
                                        {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Courses Added</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>

                                        <th>Course name</th>
                                        <th>Abbreviation</th>
                                        <th>No.Sem</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for course in courses %}
                                        <tr>
                                            <td>{{ course.name }}</td>
                                            <td>{{ course.abbreviation }}</td>
                                            <td>{{ course.max_div }}</td>

                                            <td><a href="{% url "courses:courses" id=course.pk %}" class="fas fa-pen"
                                                   style='color:skyblue'/></td>
                                            </td>
                                            <td><a href="{% url "courses:delete_course" id=course.pk %}"
                                                   class="fas fa-trash" style='color:red'/></td>
                                            </td>
                                            <td><a href="{% url "courses:view_semester_list" id=course.pk %}"
                                                   class="fas fa-eye" style='color:green'/></td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">

                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <script>
        document.getElementById('num_div').addEventListener('keyup', function restrictNumber(e) {
            this.value = this.value.replace(new RegExp(/[^\d]/, 'ig'), "");
        });

    </script>
{% endblock %}
