{% extends "base.html" %}
{% load static %}
{% block csscontent %}

    <link rel="stylesheet" href="{% static 'photoviewer-master/dist/photoviewer.min.css' %}"/>
{% endblock %}
{% block content %}
    {% load qr_code %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Attendance QR</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">

                    </div><!-- /.col -->

                    <div class="col-sm-6" id="qr-div">
                        <a href="#">
                            {% qr_from_text qr size="t" image_format="png" %}
                        </a>

                    </div>
                    <div class="col-sm-6">

                    </div>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">

                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}


{% block scriptcontent %}
    <script src="{% static 'photoviewer-master/dist/photoviewer.min.js' %}"></script>
    <script>

        $(document).ready(function () {
            $('#qr-div a').click(function (e) {
                e.preventDefault();
                var items = [],
                    options = {
                        draggable: true,
                        resizable: true,

                        // Enable image to move
                        movable: true,

                        // Enable keyboard navigation
                        keyboard: true,



                    };


                let src = $('#qr-div img').attr('src');
                console.log(src)
                items.push({
                    src: src
                });


                new PhotoViewer(items, options);
            });
        })
    </script>
{% endblock %}
