{% extends "base.html" %}
{% load static %}
{% block csscontent %}
    <link rel="stylesheet" href="{% static 'datetimepicker/dist/css/bootstrap-datepicker3.min.css' %}">
{% endblock %}

{% block content %}
    {% load abs_url %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <!-- left col -->

                    <div class="col-sm-12 mb-4">
                        <h1 class="m-0">Start Attendance for {{ course }}-{{ semester }} {{ subject }}/{{ year }}</h1>
                    </div>
                    <div class="col-sm-4">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                    <div class="alert alert-success" role="alert">
                                        {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">{% if edit %}Start Attendance{% elif not edit %} Start
                                    Attendance{% endif %}</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form class="form-horizontal" method="POST" id="form-register"
                                  action="{% url  'attendances:start_attendance' %}">
                                {% csrf_token %}

                                <input type="hidden" name="book_id" value="{{ book.id }}">
                                <div class="card-body">

                                    <div class="form-group row">

                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" name="course_name"
                                                   disabled="disabled"
                                                   placeholder="Course"
                                                   value="{{ course }}">

                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" name="semester"
                                                   disabled="disabled"
                                                   placeholder="Semester"
                                                   value="{{ semester }}">

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" name="year"
                                                   disabled="disabled"
                                                   placeholder="year"
                                                   value="{{ year }}">

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" name="year"
                                                   disabled="disabled"
                                                   placeholder="year"
                                                   value="{{ subject }}">

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <input type="number" class="form-control" id="half" name="half"
                                                   placeholder=Half" value="{{ half }}">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="input-group date" id="attendanceDate" data-target-input="nearest">
                                            <input name="attendance_date" type="text" class="form-control datepicker"
                                                   data-date-format="mm/dd/yyyy" placeholder="DD/MM/YYYY"
                                                   value="{% now 'd / M / Y' %}">
                                            <div class="input-group-append" data-target="#attendanceDate"
                                                 data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>


                                </div>


                                <div class="card-footer">
                                    <button type="submit" class="btn btn-info">{% if edit %}Start
                                        Attendance{% elif not edit %}
                                        Start Attendance{% endif %}</button>

                                    <a href="{% url  'attendances:search_book' %}"
                                       class="btn btn-warning ml-2">Cancel</a>

                                </div>
                                <!-- /.card-footer -->
                            </form>
                        </div>

                    </div>
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Books Added</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>

                                        <th>Course</th>
                                        <th>Semester</th>
                                        <th>Subject</th>
                                        <th>Year</th>
                                        <th>Open</th>

                                        <th>Search</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for book_view in books %}
                                        <tr>
                                            <td>
                                                {{ book_view.subject.course.abbreviation }}
                                            </td>
                                            <td>
                                                {{ book_view.subject.semester }}
                                            </td>
                                            <td>
                                                {{ book_view.subject.name }}
                                            </td>
                                            <td>
                                                {{ book_view.year }}
                                            </td>
                                            <td>
                                                {% if book_view.open %}
                                                    <span class="fas fa-check " style='color:green'></span>
                                                {% else %}
                                                    <span class="fas fa-times " style='color:red'></span>
                                                {% endif %}
                                            </td>

                                            <td><a href="{% url 'attendances:view_book' id=book_view.id %}"
                                                   class="fas fa-eye" style='color:green'></a></td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">

                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>


{% endblock %}

{% block scriptcontent %}
    <script src="{% static 'datetimepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#attendanceDate input').datepicker({format: 'dd / M / yyyy',});
        })
    </script>
{% endblock %}