{% extends "base.html" %}
{% block content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <!-- left col -->
                    <div class="col-sm-12 mb-4">
                        <h1 class="m-0">Student</h1>
                    </div>
                    <div class="col-sm-4">


                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">{% if edit %}Edit Student{% elif not edit %} Add
                                    Student{% endif %}</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form class="form-horizontal" method="post"
                                  {% if edit %}action="{% url  'students:student' id=student_edit.id %}" {% endif %}>
                                {% csrf_token %}
                                {% if edit %}
                                    <input type="hidden" name="id" value="{{ student_edit.id }}">
                                {% endif %}
                                <div class="card-body">
                                    <div class="form-group row">

                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" name="first_name"
                                                   placeholder="First Name"{% if edit %}
                                                   value="{{ student_edit.first_name }}"{% endif %}>
                                        </div>
                                    </div>

                                    <div class="form-group row">

                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" name="last_name"
                                                   placeholder="Last Name"{% if edit %}
                                                   value="{{ student_edit.last_name }}"{% endif %}>
                                        </div>
                                    </div>

                                    <div class="form-group row">

                                        <div class="col-sm-12">
                                            <input type="email" class="form-control" name="email"
                                                   placeholder="Email"{% if edit %}
                                                   value="{{ student_edit.email }}"{% endif %}>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-12">

                                            <select class="form-control" name="course">
                                                <option value="">--select course</option>
                                                {% for course in courses %}
                                                    <option value="{{ course.id }}"
                                                            {% if edit %}
                                                                {% if course.id == student_edit.course.id %}
                                                                    selected
                                                                {% endif %}
                                                            {% endif %}
                                                    >{{ course.name }}({{ course.abbreviation }})
                                                    </option>
                                                {% endfor %}
                                            </select>

                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" value="active" name="active" class="form-check-input"
                                               id="exampleCheck1"
                                                {% if edit %}
                                                    {% if student_edit.active %}
                                               checked {% endif %}
                                                {% elif not edit %}
                                               checked
                                                {% endif %}>
                                        <label class="form-check-label" for="exampleCheck1">Active</label>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-info">{% if edit %}Update{% elif not edit %}
                                        Add{% endif %}</button>
                                    {% if edit %}
                                        <a href="{% url  'students:student' %}"
                                           class="btn btn-warning ml-2">Cancel</a>
                                    {% endif %}
                                </div>
                                <!-- /.card-footer -->
                            </form>
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                    <div class="alert alert-success" role="alert">
                                        {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Students Added</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>

                                        <th>Name</th>
                                        <th>Username</th>
                                        <th>Email</th>

                                        <th>Course</th>
                                        <th>Active</th>
                                        <th>Edit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for student in students %}
                                        <tr>
                                            <td>{{ student.first_name }} {{ student.last_name }}</td>
                                            <td>{% if student.user is not None %}
                                                student.user.username
                                            {% else %}
                                                --
                                            {% endif %}</td>
                                            <td>{{ student.email }} </td>
                                            <td>{{ student.course.abbreviation }} </td>
                                            <td>
{#                                                <input type="checkbox"#}
{#                                                       disabled="disabled"#}
{#                                                    {% if student.active %}#}
{#                                                       checked{% endif %}>#}
                                                {% if student.active %}
                                                    <span class="fas fa-check " style='color:green'></span>
                                                {% else %}
                                                    <span class="fas fa-times " style='color:red'></span>
                                                {% endif %}
                                            </td>
                                            <td><a href="{% url 'students:student' id=student.id %}">edit</a>
                                            </td>


                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">

                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>

{% endblock %}
